* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-presentazione {
  width: 500px;
  height: 500px;
  background-image: url('s2i-html-css/profile.jpeg');
  background-size: cover;
  border: 3px solid red;

}
